*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    background-color: #e4eee4;
    color: #333333;
}


/* header css begins */

header{
    height: 80px;
    background-color: #1A431A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 29px;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.logo{
    font-weight: bold;
}
.active{
    background-color: #4CAF50;
    transform: scale(1.04);
    border: 1px solid white;
}
header nav a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 8px 13px;
    border-radius: 8px;
    transition: all 0.3S;
}
header nav a:hover{
    background-color: #4CAF50;
    transform: scale(1.04);
    border: 1px solid white;
}


/* main section css begins */

main{
    display: flex;
    flex-direction: column;
}
main>h1{
    text-align: center;
    padding: 50px;
    color: #1A431A;
    font-size: 50px;
}
main>p{
    text-align: center;
    font-size: 20px;
    word-spacing: 2px;
    font-style: italic;
}
.container{
    margin: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    border: 2px solid rgba(9, 9, 9, 0.05);
    border-radius: 10px;
}

input[type='radio']{
    display: none;
}
.tabs-section{
    padding-top: 10px;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;   
}
.tabs-section label{
    width: 100%;
}
.radio-btns{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items:center;
    height: 80px;
    padding-left: 30px;
    transition: background-color 0.3s;
    color: rgb(93, 90, 90);
}
.radio-btns:hover{
    color: #1A431A;
    background-color: rgba(161, 161, 161, 0.2);;
}
#kharif:checked ~ .tabs-section label[for='kharif'], #rabi:checked ~ .tabs-section label[for='rabi'], #zaid:checked ~ .tabs-section label[for='zaid'] {
border-left: 5px solid #1A431A;
background-color: whitesmoke;
color: #1A431A;
}

/* content css begins */

.tab-content{
    grid-column: 2/-1;
    background-color: whitesmoke;
    border-radius: 0 10px 10px 0;
}
.kharif-content{
    padding: 40px 30px;
}
.kharif-content h2{
    font-size: 30px;
    color: #495057;
    padding-bottom: 5px;
    border-bottom: 2px solid #333333;
}
.kharif-content>p{
padding: 10px 0;
font-style: italic;
font-size: 17px;
text-align: justify;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    height: auto;
}
.flex-items{
    width: 45%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(194, 193, 193, 0.074);
    border-top: 5px solid #FFC107;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s;
    min-width: 0;
}
.flex-items > * {
    min-width: 0;
}
.flex-items:hover{
    transform: translate(0,-3px);
    box-shadow: 1px 1px 10px rgb(6, 6, 6,0.5);
}
.flex-items h3 {
    grid-column: 1/-1;
    height: 60px;
    padding: 20px 10px;
    border-bottom: 2px solid rgba(10, 10, 10,0.09);
}
.flex-items .para1, .flex-items .para2 {
    padding: 20px;
}

.flex-items img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    grid-column: 3/-1;
    padding: 10px;
}

.rabi-content{
    padding: 40px 30px;
}
.rabi-content h2{
    font-size: 30px;
    color: #495057;
    padding-bottom: 5px;
    border-bottom: 2px solid #333333;
}
.rabi-content>p{
padding: 10px 0;
font-style: italic;
font-size: 17px;
text-align: justify;

}

.zaid-content{
    padding: 40px 30px;
}
.zaid-content h2{
    font-size: 30px;
    color: #495057;
    padding-bottom: 5px;
    border-bottom: 2px solid #333333;
}
.zaid-content>p{
padding: 10px 0;
font-style: italic;
font-size: 17px;
text-align: justify;
}


.kharif-content, .rabi-content, .zaid-content{
    display: none;
}

#kharif:checked ~ .tab-content .kharif-content, #rabi:checked ~ .tab-content .rabi-content, #zaid:checked ~ .tab-content .zaid-content{
    display: block;
}


/* footer section begins */

.footer{
    background-color: #1A431A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 40px;
    padding-bottom: 10px;
    grid-gap: 2%;
}

.footer-items h3{
    color: #8BC34A;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.contact-info a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.contact-info a:hover{
    transform: scale(1.05);
    text-decoration: underline;
    text-underline-offset: 4px;
}
.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.follow-us-links{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    width: 100%;
}
.follow-us-links a{
    color: white;
    font-size: 30px;
    padding: 5px;
    transition: transform 0.3s;
}
.follow-us-links a:hover{
    border-radius: 5px;
    outline: 1px solid white;
    transform: translate(0,-3px);   
}
.copyright{
    margin-top: 50px;
    grid-column: 1 / -1;
    text-align: center;
}
/* making responsive begins */

/* max-width: 992px */

@media (max-width: 992px) {
    header {
        padding: 15px 20px;
        font-size: 22px;
    }
    header nav a {
        font-size: 16px;
        padding: 6px 10px;
    }
    .container{
    grid-template-rows: auto;  
    }
    .flex-items{
        width: 90%;
    }
    .tabs-section{
        position: sticky;
        top: 200px;
        height: fit-content;
    }  
}


/* max-width: 768px  */

@media (max-width: 768px) {
    header {
        padding: 20px;
        font-size: 22px;
    }
    header nav a {
        font-size: 15px;
        padding: 5px;
    }
    main>h1{
    padding: 40px;
    font-size: 40px;
    }
    main>p{
    text-align: center;
    font-size: 18px;
    
    }
    .tabs-section{
    background-color: white;
    grid-column: 1/-1;  
    flex-direction: row;
    position: sticky;
    top: 70px;
    z-index: 100;
    }
    .radio-btns{
        font-size: 15px;
        height: auto;
    }
    #kharif:checked ~ .tabs-section label[for='kharif'], #rabi:checked ~ .tabs-section label[for='rabi'], #zaid:checked ~ .tabs-section label[for='zaid'] {
    border-left: none ;
    border-bottom: 5px solid #1A431A;
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
    }
    .tab-content{
        grid-column: 1/-1;
        
    }


    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .copyright{
        margin: 0;
    }
}


/* max-width: 480px */

@media (max-width: 480px) {

    header {
        padding: 10px;
        font-size: 16px;
    }
    header nav a {
        font-size: 12px;
        padding: 5px;
    }

    .radio-btns{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items:center;
    height: 70px;
    padding-left: 10px;
    transition: background-color 0.3s;
    color: rgb(93, 90, 90);
    }
    
    .footer {
        padding: 20px;
    }
}
