*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #e4eee4;
    color: #333333;
}
table {
    width: 100%;
    display: block;
    overflow-x: auto;
}
.bold-text{
    font-weight: bold;
}
.italic-text{
    font-style: italic;
}


/* heder css begins */

header{
    height: 80px;
    background-color: #1A431A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 29px;
    padding: 15px 50px;
    position: sticky;
    top: 0;
    z-index: 10000;
}
.logo{
    font-weight: bold;
}
.active{
    background-color: #4CAF50;
    transform: scale(1.04);
    border: 1px solid white;
}
header nav a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 8px 13px;
    border-radius: 8px;
    transition: all 0.3S;
}
header nav a:hover{
    background-color: #4CAF50;
    transform: scale(1.04);
    border: 1px solid white;
}


/* main css begins */

/* section1 css begins */

.section1{
    background-image: url("Images/method-page/methods-bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.heading{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(217, 208, 208);
    height: 70vh;
    gap: 20px;
}
.heading h1{
    font-size: 45px;
}
.heading p{
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-style: italic;
}

/* section2 css begins */

#section2{
    padding: 0 15%;
    padding-top: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}
#section2 a{
    min-height:300px;
    height: auto;
    width: 30%;
    text-decoration: none;
    transition: all 0.3s;
}
.cards{
    height: 300px;   
    width: 100%;
    outline: 4px solid #87e08a;
    border-radius: 2%;
    background-color: #e1fce1;
}
.cards img{
    height: 60%;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 2%;
}
.cards h3{
    color: #1A431A;
    text-align: center;
    padding-top: 9%;
    font-size: 25px;
    font-variant: small-caps;
}

#section2 a:hover{
    transform: translate(0,-5px);
    box-shadow: 1px 1px 30px #1A431A;
}

/* back button */

.back-button{
    color: rgba(0, 0, 0,0.5);
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: transform 0.3s, border-bottom 0.1s; 
    padding: 20px;
}
.back-button:hover{
    transform: scale(1.1);
    color: rgba(0, 0, 0,0.7);
}

.sections{
    scroll-margin-top: 80px;
}
/* traditional-farming section css begins */

#traditional-farming{
    padding: 0 15%;
    margin: 80px 0;
}
.tf-content>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.tf-content p{
    font-size: 20px;
    word-spacing: 2px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 20px;
}
.tf-cards{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.tf-cards img{
    height: 300px;
    width: 30%;
    outline: 1px solid #87e08a;
    transition: all 0.3s;
}
.tf-cards img:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 20px black;
}
.tf-content2 h2{
    color: #1A431A;   
    font-size: 30px;
}
.tf-content2 ol li{
    font-weight: bold;
    font-size: 20px;
    color: #F15F22;
    padding: 10PX;
}
.tf-content2 ul li{
    color: #333333;
    list-style-type: square;
    list-style-position: inside;
}

/* organic-farming css begins */

#organic-farming{
    padding: 0 15%;
    margin: 80px 0;
}
#organic-farming>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
}
#organic-farming .para1{
    text-align: justify;
    font-size: 20px;
    word-spacing: 2px;
}
.objective-image{
    background: url("Images/method-page/Organic_Farming/image1.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    margin-top: 20px;
}

.of-content{
    margin-top: 40px;
}
.of-content h2{
    font-size: 30px;
    color: #1A431A;
}
.of-content h3{
    font-size: 20px;
    margin: 10px 0;
}
.of-content p{
    font-size: 19px;
    word-spacing: 2px;
    text-align: justify;
}
#organic-farming table{
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}
#organic-farming td,th,tr{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 20px;
}

/* modern-farming css begins */

#modern-farming{
    padding: 0 15%;
    margin: 80px 0;
}
#modern-farming>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.bg-image{
    height: 70vh;
    background-image: url("Images/method-page/Modern_Farming/modern-farming-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1% 0;
}
.mf-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.mf-content p {
    font-size: 20px;
    word-spacing: 2px;
    text-align: justify;
}
.mf-content1{
    grid-column: 1/-1;
}
.mf-content2 img{
    width: 100%;
    height: 100%;
}
.mf-content3{
    grid-column: 2/-1;
}
.mf-content4{
    grid-column: 1/2;
}
.mf-content5{
    grid-column: 2/-1;
}
.mf-content5 video{
    width: 100%;
    height: 100%;
}
.mf-content6{
    grid-column: 1/-2;
}
.mf-content6 table{
    border: 1px solid black;
    border-collapse: collapse;
    
}
.mf-content6 table th,tr,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
.mf-content7{
    grid-column: -2/-1;
}

/* vertical-farming css begins */

#vertical-farming{
    padding: 0 15%;
    margin: 80px 0;
}
#vertical-farming>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 20px;
}
.vf-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.vf-content1{
    grid-column: 1/-1;
}
.vf-content1>video{
    width: 100%;
}
.vf-content2{
    grid-column: 1/-1;
}
.vf-content2 h2{
    color: #1A431A;
    font-size: 25px;
}
.vf-content2 p{
    font-size: 20px;
    word-spacing: 2px;
    text-align: justify;
}
.vf-content3 img{
    width: 100%;
    
}

.vf-content4{
    grid-column: 2/-1;
}
.vf-content4 p{
    font-size: 20px;
    word-spacing: 2px;
    text-align: justify;
}

/* hydraponics css begins*/

#hydraponics{
    padding: 0 15%;
    margin: 80px 0;
}
#hydraponics>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 20px;
}
.hf-content-items{
    padding-bottom: 30px;
}
.hf-content p{
    font-size: 20px;
    word-spacing: 2px;
    text-align: justify;  
}
.hf-content2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.hf-content2 img{
    width: 100%;
    height: 100%;
}
.hf-content2 p{
    grid-column: 2/-1;
}
.hf-content3>h2{
    font-size: 25px;
    color: #1A431A;
}
.hf-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hf-types img{
    width: 100%;
}
#hydraponics h3{
    color: #de6f00;
    font-size: 25px;
    word-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 20px;
}


/* Aquaponic css begins */

#aquaponic{
    padding: 0 15%;
    margin: 80px 0;}
#aquaponic>h2{
    font-size: 30px;
    color: #1A431A;
    text-decoration: underline;
    text-underline-offset: 3px;
}
#aquaponic p{
    font-size: 20px;
    word-spacing: 2px;
}
#aquaponic .image{
    background-image: url('Images/method-page/Aquaponic/aqua.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    margin: 1% 0;
}
#aquaponic h3{
    color: #F15F22;
    font-size: 25px;
    padding-bottom: 20px;
}
.aquaponic-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.aquaponic-card{
    width: 48%;
    height: 400px;
    border: 3px solid #87e08a;
    background-color: #e1fce1;

}
.aquaponic-card img{
    width: 90%;
    height: 70%;
    margin: 5%;
}
.aquaponic-card h4{
    text-align: center;
    font-size: 25px;
    color: #1A431A;
}



/* footer section begins */

.footer{
    background-color: #1A431A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 40px;
    padding-bottom: 10px;
    grid-gap: 2%;
}

.footer-items h3{
    color: #8BC34A;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}
.contact-info a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}
.contact-info a:hover{
    transform: scale(1.05);
    text-decoration: underline;
    text-underline-offset: 4px;
}
.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.follow-us-links{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
    width: 100%;
}
.follow-us-links a{
    color: white;
    font-size: 30px;
    padding: 5px;
    transition: transform 0.3s;
}
.follow-us-links a:hover{
    border-radius: 5px;
    outline: 1px solid white;
    transform: translate(0,-3px);   
}
.copyright{
    margin-top: 50px;
    grid-column: 1 / -1;
    text-align: center;
}

/* making responsive begins */


/* max-width: 992px */
@media (max-width: 992px) {
    header {
        padding: 15px 20px;
        font-size: 22px;
    }
    header nav a {
        font-size: 16px;
        padding: 6px 10px;
    }

    .section1{
    height: 40vh;
    }
    .heading{
        height: 40vh;}
    .heading p{
        text-align: center;
    }
    #section2{
    /* padding: 0; */
    padding-top: 80px;
    gap: 50px;
    }
    #section2 a{
    width: 45%;
    }

    /* traditional farming */
    .tf-cards{
        gap: 20px;
    }
    .tf-cards img{
         width: 47%;
         height: 250px;
    }
    
    
    /* organic-farming  */
    .objective-image{
        height: 40vh;
    }
    .of-content{
        margin-top: 0;
    }

    /* modern-farming */
    .bg-image{
        background-size: contain;
        height: 30vh;
    }
    .mf-content{
        grid-template-columns: 1fr 1fr ;
    }

    .mf-content4, .mf-content5, .mf-content6, .mf-content7{
        grid-column: 1/-1;
    }

    /* vertical-farming */
    .vf-content4, .vf-content3{
        grid-column: 1/-1;
    }

    /* hydraponics*/
    .hf-content2 img, .hf-content2 p{
        grid-column: 1/-1;
    }

    /* Aquaponic css begins */
    #aquaponic .image{
        height: 40vh;
    }
}


/* max-width: 768px  */

@media (max-width: 768px) {
    header {
        padding: 13px;
        font-size: 22px;
    }
    header nav a {
        font-size: 15px;
        padding: 5px 8px;
    }


    .heading h1{
        font-size: 30px;
        padding: 0 2%;
    }
    .heading p{
        font-size: 16px;
        padding: 0 2%;
    }
    
    #section2 a{
    width: 35%;
    }
    
    .cards{
        height: 250px;   
    }
    .cards img{
        height: 50%;
    }

    /* traditional-farming */
    #traditional-farming{
        padding-top: 0;
    }
    .traditional-farming-cards{
    gap: 20px;
    }
    .gallery{
        width: 100%;
    }
    .traditional-farming-content2 {
    padding-top: 30px;
    }
    .back-button{
        left: 45%;
    }
    /* Organic Farming */
    .objective-image{
            height: 20vh;
    }
    /* modern farming */
    .bg-image{
        height: 20vh;
    }
    .mf-content2, .mf-content3{
        grid-column: 1/-1;
    }

    /* Aquaponic css begins */
    #aquaponic .image{
        height: 25vh;
    }
    .aquaponic-card{
        width: 100%;
    }


    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .contact-info {
        align-items: center;
    }

    .footer-items {
        padding: 20px 0;
    }
}


/* max-width: 480px */
@media (max-width: 480px) {
    .heading h1{
        text-align: center;
    }
    header {
        padding: 10px;
        font-size: 16px;
    }
    header nav a {
        font-size: 12px;
        padding: 5px;
    }
    #section2 a{
    width: 90%;
    }
    #traditional-farming h2, #organic-farming h2, #modern-farming h2, #vertical-farming h2, #hydraponics h2, #aquaponic h2{
        font-size: 23px;
    }
    #traditional-farming #organic-farming p, #modern-farming p, #vertical-farming p, #hydraponics p, #aquaponic p{
        font-size: 18px;
    }
    #organic-farming .para1{
        font-size: 18px;
    }
    #organic-farming td,th,tr{
        padding: 5px;
        font-size: 15px;
    }
    .tf-content2 ol li{
    font-size: 18px;
    padding: 5PX 0;
    }
    .tf-content p{
        font-size: 18px;
    }
    .tf-content2 ul li{
        color: #333333;
        font-size: 16px;
    }
    .tf-cards IMG{
        width: 100%;
    }
    .of-content p{
        font-size: 18px;
    }
    .mf-content6 table th,tr,td{
    padding: 5px;
    font-size: 14px;
    }


    .footer {
        padding: 20px;
    }
}
